    body{
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0;
    }


    .page-containner{
        display: flex;
        justify-content: space-between;
         margin: 40px 40px 0px;
         height: 37rem;
    }

    .containner-form{
        flex: 3;
        padding: 0px 80px;
    }

    .containner {
        
        position: relative;
        flex: 3;
        display: grid;
        grid-template-columns:  2.8fr 1.4fr 3.5fr ;
        grid-template-rows: 1fr 1fr;
        height: 45rem;
        padding-left: 20px;
    }

    #workspaceimg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    }

    .containner div{
        text-align: center;  
    }
    .contenu1 img,.contenu2 img,.contenu3 img {
        width: 2.5em;
        height: 2.5em;
    }

    .contenu1{
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-row: 1/-1;
        padding-top: 20px;
         z-index: 11;
         
    }
    /* .box1:hover ,.box2:hover,.box3:hover,.box4:hover,.box4:hover,.box5:hover ,.box6:hover,.box9:hover{
        background-color: rgba(236, 109, 109, 0.37);
    } */



    .contenu2{
    grid-row: 1/-1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    }

    .contenu3{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: 0.9fr 1.1fr 0.9fr;
        text-align: center;
        grid-row: 1/-1;
        z-index: 11;
    }

    .box1{
       flex :1;
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       z-index: 11;
    }


    .box2 {
        flex: 2;
        position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .box3{
        position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .box33{
       display: flex;  
       position: relative;
    }
    .box33 div{
        grid-row: 1/-1;
        position: relative;
        display: flex;
       justify-content: center;
       align-items: center;
       z-index: 11;
    }
    .contenu4{
       display: flex;
        position: relative;
       justify-content: center;
       align-items: center;
       z-index: 11;
    }
    .box4{
        display: flex;
        flex-direction: column;
        flex: 2;
        position: relative;
      align-items: center;
       z-index: 11;

    }
    .box5{
    display: flex;
    flex-direction: column;
    flex: 2;

    position: relative;
    display: flex;
    z-index: 11;
    align-items: center;
    }

    .box6 {
        flex: 1;
        position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       z-index: 11;
       align-items: center;
    }
    .box9 {
        flex: 1;
        position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       z-index: 11;
       align-items: center;
    }
      #preview{
        display: flex;
        border: 3px dotted rgb(241, 233, 233);
        border-radius: 50%;
        width: 4em;
        height: 4em;
        margin: 10px 0px 0px 40px;
    }
   
    section{
        flex: 0.8;
        height: 45rem;
        padding: 2px 0px 10px 0px;
        border:5px solid rgb(37, 37, 36);
        background-color: black;
        gap: 20px;
        color: #313333;
    }
    #role,.form{
        width: 150px;
    }

    .zone_container{
          width: 300px;
          height: 200px;
          overflow-y:auto;
          border-radius: 5px;
    }


  
#mainForm {
    max-width: 31em;
    margin: 1.2em auto;
    padding: 1.2em;
    background: #1f1d1d;
    border-radius: 10px;
    font-family: sans-serif;
    box-shadow: 0 0 1em rgba(0,0,0,9);
    overflow-y: auto;
}
section h1 {
    max-width: 14em;
    font-size:x-large;
    padding: 4%;
    text-align: center;
    color: #b1c219;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#addWorkerBtn {
    background-color: #22c55e;
    color: white;
    padding: 0.8em 1em;
    border: none;
    border-radius: 0.7em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: 0.2s;
}
#addWorkerBtn:hover {
    background-color: #15803d;
}

.worker-card {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 0.5em;
    margin-bottom: 0.7em;
    gap: 0.8em;
    border: 1px solid #ddd;
}

/* .worker-card:hover {
     transform: scale(1.1); 
} */
.worker-card img {
    width: 3.5em;
    height: 3.5em;
    object-fit: cover;
    border-radius: 6px;
}
.worker-card span p {
    margin: 0;
    font-size: 1em;
    color: #444;
}
 .worker-card .img2{
    position: absolute;
   width: 16px;
   height: 16px;
  
  
   border-radius: 50%;
   top: 0;
   right: 0;
   margin: 2px 0px 0px 3px;
}

.worker-card  .img2:hover {
     transform: scale(2); 
} 
#worker {
    position: absolute;
    top: 80px;
    right: 37em;
    z-index: 44444;
}
 .worker-card  .edit {
    position: absolute;
    right: 0;
    font-size: medium;
    margin-right: 0.4em;
     padding: 0.4em 0.7em;
     background-color: #e9c654;
    border-radius:1em ;
    font-size: 1em;   
}

#UnassignedWorker {
    overflow-y: auto;
}

.workersvaliables {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.1em;
    border: 0.1em solid  black;
    border-radius: 0.1em;
    background-color: white;
    color: black;
    width:  14rem;
    height: 5rem;
    gap: 11px;
    text-align: left;
    border-radius: 5px;
}

.workersvaliables #img1{
   width: 3.6em;
    height: 3.5em;
    object-fit: cover;
    border-radius: 0.5em;
}



.containner button {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.containner #zoneAddBtn:hover {
    transform: scale(1.5); 
}


 /* #descWorker {
    position: absolute;
    top: 80px;
    right: 37em;
    z-index: 44444;
    color: black;
    background-color: aliceblue;
    border-radius: 2px;
    padding: 20px; 
    }  */

 #descWorker img{
    width: 64px;
    height: 64px;
    border: 3px solid black;
    
 }  
 #descWorker .deleteicon{
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    margin-right: 4px;
 }   


/* Resopnsive */


@media (max-width: 1279px) {
    .page-containner {
        display: flex;
        flex-direction: column;
        width: 30rem; 
        height: auto;
         margin: 0px;
        gap: 5rem;
    }
    section {
        flex: none;
        /* width: 100%; */
        height: auto;
        margin-left: 0;
    }
     .containner-form{
        width: 100%;
    }

    .containner {
        flex: none;
        height: 42rem;
        transform: rotate(90deg); 
        transform-origin: center center;
        margin: 40px 0 0; 
    }
    .containner #wrkimg{
       height: 42rem;
        
    }

    .section {
        flex: none;
        width: 100%;
    }

    .containner > .contenu1>*,
    .containner > .contenu2>*,
    .containner > .contenu3>*>* {
        transform: rotate(-90deg);
    }

      
 
}


