
    body{

        color: white;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        padding: 0;

    }


    .page-containner{

         display: flex;

         justify-content: space-between;

         margin-top: 40px;

         

     

    }

    .containner-form{

        flex: 3;

        padding: 0px 80px;

    }

    .containner {
        position: relative;
        flex: 3;
        display: grid;
        grid-template-columns:  2.8fr 1.5fr 3.5fr ;
        grid-template-rows: 1fr 1fr;
        height: 42rem;

    }

    #workspaceimg{
        position: absolute;
        width: 100%;
       height: 100%;
      object-fit: cover; 
     
    }

    .containner div{

        text-align: center;  

    }



    .contenu1{

        display: flex;

        flex-direction: column;

        text-align: center;

        grid-row: 1/-1;

        padding-top: 20px;
         z-index: 11;

    }

    .contenu2{

        grid-row: 1/-1;

        position: relative;

       display: flex;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }

    .contenu3{

        display: grid;

        grid-template-columns:  1fr;

        grid-template-rows: 0.9fr 1.1fr 0.9fr;

        text-align: center;

        grid-row: 1/-1;
        z-index: 11;

    }

    .box1{

       flex :1;

       position: relative;

       display: flex;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }



    .box1 img {
        position: absolute;

    }



    .box2 {

        flex: 2;

         position: relative;

       display: flex;

       justify-content: center;

       align-items: center;

    }

    .box3{

        position: relative;

       display: flex;

       justify-content: center;

       align-items: center;

    }



    .box33{

        display: flex;  

         position: relative;

       display: flex;

       justify-content: center;

       align-items: center;

    }

    .box33 div{

        text-align: center;

        grid-row: 1/-1;

         position: relative;

       display: flex;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }



    .contenu4{

       display: flex;

        position: relative;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }

    .box4{
        display: flex;

        flex: 2;

        position: relative;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }





    .box5{

    display: flex;

    flex: 2;

    text-align: center;

    position: relative;

    display: flex;

    justify-content: center;
    z-index: 11;

    align-items: center;

    }

    .box6 {

        flex: 1;

        position: relative;

       display: flex;

       justify-content: center;
       z-index: 11;

       align-items: center;

    }

    .box9 {

        flex: 1;

        position: relative;

       display: flex;

       justify-content: center;
       z-index: 11;

       align-items: center;

    }


      #preview{

        display: flex;

        border: 3px dotted rgb(241, 233, 233);

        border-radius: 50%;

        width: 64px;

        height: 64px;

        margin: 10px 0px 0px 40px;

       

    }

   

    section{

        flex: 0.8;

        height: auto;

        padding: 30px 0px 10px 0px;

        border:5px solid rgb(230, 219, 219);

        background-color: black;

        gap: 20px;

        color: #313333;

    }

   



    #role,.form{

        width: 150px;

    }

#mainForm {

    max-width: 500px;

    margin: 20px auto;

    padding: 20px;

    background: #1f1d1d;

    border-radius: 10px;

    font-family: sans-serif;

    box-shadow: 0 0 10px rgba(0,0,0,9);

    overflow-y: auto;

}





section h1 {

    font-size:x-large;

    margin: 20px 0;

    text-align: center;

    color: #b1c219;

    font-weight: bold;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}





#addWorkerBtn {

    background-color: #22c55e;

    color: white;

    padding: 10px 18px;

    border: none;

    border-radius: 6px;

    margin-bottom: 15px;

    cursor: pointer;

    transition: 0.2s;

}



#addWorkerBtn:hover {

    background-color: #15803d;

}


.worker-card {

    position: relative;

    display: flex;

    align-items: center;

    background: white;

    padding: 10px;

    border-radius: 8px;

    margin-bottom: 10px;

    gap: 10px;

    border: 1px solid #ddd;

}



.worker-card img {

    width: 60px;

    height: 60px;

    object-fit: cover;

    border-radius: 6px;

}



.worker-card span p {

    margin: 0;

    font-size: 14px;

    color: #444;

}



#worker {

    position: absolute;

    top: 80px;

    right: 600px;

}



.crudBtn{

    display: flex;

    position: absolute;

    right: 0;

    bottom: 0;

    padding: 10px 20px;

    justify-content: space-between;  

}



.crudBtn button {

    background-color: #43d43e;

    padding: 10px;

    margin-left: 30px;

    border-radius:4px ;

    font-size: 14px;

}



#UnassignedWorker {

    overflow-y: auto;

}





