
    body{

        color: white;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        padding: 0;

    }



    .page-containner{

         display: flex;

         justify-content: space-between;

         margin-top: 40px;

         

     

    }

    .containner-form{

        flex: 3;

        padding: 0px 80px;

    }

    .containner {
        position: relative;
        flex: 3;
        display: grid;
        grid-template-columns:  2.8fr 1.5fr 3.5fr ;
        grid-template-rows: 1fr 1fr;
        height: 42rem;

    }

    #workspaceimg{
        position: absolute;
        width: 100%;
       height: 100%;
      object-fit: cover; 
     
    }

    .containner div{

        text-align: center;  

    }



    .contenu1{

        display: flex;

        flex-direction: column;

        text-align: center;

        grid-row: 1/-1;

        padding-top: 20px;
         z-index: 11;

    }

    .contenu2{

        grid-row: 1/-1;

        position: relative;

       display: flex;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }

    .contenu3{

        display: grid;

        grid-template-columns:  1fr;

        grid-template-rows: 0.9fr 1.1fr 0.9fr;

        text-align: center;

        grid-row: 1/-1;
        z-index: 11;

    }

    .box1{

       flex :1;

       position: relative;

       display: flex;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }



    .box1 img {
        position: absolute;

    }



    .box2 {

        flex: 2;

         position: relative;

       display: flex;

       justify-content: center;

       align-items: center;

    }

    .box3{

        position: relative;

       display: flex;

       justify-content: center;

       align-items: center;

    }



    .box33{

        display: flex;  

         position: relative;

       display: flex;

       justify-content: center;

       align-items: center;

    }

    .box33 div{

        text-align: center;

        grid-row: 1/-1;

         position: relative;

       display: flex;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }



    .contenu4{

       display: flex;

        position: relative;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }

    .box4{
        display: flex;

        flex: 2;

        position: relative;

       justify-content: center;

       align-items: center;
       z-index: 11;

    }





    .box5{

    display: flex;

    flex: 2;

    text-align: center;

    position: relative;

    display: flex;

    justify-content: center;
    z-index: 11;

    align-items: center;

    }

    .box6 {

        flex: 1;

        position: relative;

       display: flex;

       justify-content: center;
       z-index: 11;

       align-items: center;

    }

    .box9 {

        flex: 1;

        position: relative;

       display: flex;

       justify-content: center;
       z-index: 11;

       align-items: center;

    }
